.carousel-3d {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.carousel-3d > * {
  flex: 0 0 auto;
}
.carousel-3d figure {
  margin: 0;
  width: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
/* .carousel-3d nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel-3d nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #337AB7;
  background: #BFE2FF;
  border: 1px solid #337AB7;
  padding: 5px 10px;
  font-weight: bold;
  transition: all .3s ease;
}
.carousel-3d nav button:hover {
  color: #FFF;
  background: #337AB7;
} */


<!-- <div class="carousel-3d"  data-gap="10">
                <figure>
                    <div><a href="#any"><img src="./images/banner.jpg" alt=""/></a></div>
                    <div><a href="#any"><img src="./images/banner1.jpg" alt=""/></a></div>
                    <div><a href="#any"><img src="./images/banner2.jpg" alt=""/></a></div>
                    <div><a href="#any"><img src="./images/banner3.jpg" alt=""/></a></div>
                    <div><a href="#any"><img src="./images/banner4.jpg" alt=""/></a></div>
                    <div><a href="#any"><img src="./images/banner5.jpg" alt=""/></a></div>
                </figure>
                <div class="carousel-3d__arrows">
                    <button class="nav prev">
                      
                    </button>
                    <button class="nav next"></button>
                </div>
            </div> -->





            window.addEventListener("load", () => {
              const carousels = document.querySelectorAll(".carousel-3d");
              for (let i = 0; i < carousels.length; i++) {
                  carousel(carousels[i]);
              }
            });
            function carousel(root) {
              const figure = root.querySelector("figure"),
              nav = root.querySelector("nav"),
              images = figure.children,
              n = images.length,
              gap = root.dataset.gap || 0,
              bfc = "bfc" in root.dataset,
              theta = 2 * Math.PI / n,
              currImage = 0;
              setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
              window.addEventListener("resize", () => {
                  setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
              });
              setupNavigation();
              function setupCarousel(n, s) {
                const apothem = s / (2 * Math.tan(Math.PI / n));
                  figure.style.transformOrigin = `50% 50% ${-apothem}px`;
                  for (let i = 0; i < n; i++) images[i].style.padding = `0 ${gap}px`;
                  for (i = 0; i < n; i++) {
                      images[i].style.transformOrigin = `50% 50% ${-apothem}px`;
                      images[i].style.transform = `rotateY(${i * theta}rad)`;
                  }
                  if (bfc)
                  for (i = 0; i < n; i++) images[i].style.backfaceVisibility = "hidden";
                  rotateCarousel(currImage);
              }
              function setupNavigation() {
                  nav.addEventListener("click", onClick, true);
                  function onClick(e) {
                      e.stopPropagation();
                      const t = e.target;
                      if (t.tagName.toUpperCase() != "BUTTON") return;
                      if (t.classList.contains("next")) {
                          currImage++;
                          } else {
                          currImage--;
                      }
                      rotateCarousel(currImage);
                  }
              }
              function rotateCarousel(imageIndex) {
                  figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
              }
            }